.section2Container{
    width: 100%;
    min-height: 110vh;
    max-height: max-content;
    overflow-x: hidden;
}

.headings2{
   position: relative;
   top: 100px;
    font-size: 40px;
    font-family: 'Gilroy-Heavy', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}


.smallHeading{
text-align: center;
font-family: 'Gilroy-Medium', sans-serif;
letter-spacing: 0px;
font-size: 11px;
font-weight: 200;
}

.section2Main{
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemHolder{
    display: flex;
    position: relative;
    left: 160px;
    flex-wrap: wrap;
    color: white;
}

.contentsS2{
    flex: 0 0 30.122233%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 10px;
}

.contentsS2 h2{
    font-family: 'Gilroy-Bold', sans-serif;
    width: 50%;
    font-size: 13px;
}

.contentsS2 img{
   min-width: 12%;
   max-width: 14%;
}
@media only screen and ( max-width : 1441px){
   .itemHolder{
    left: 115px;
   }
  }
@media only screen and (max-width : 376px) {

    .section2Container{
        min-height: 80vh;
    }

    .headings2{
        top: 100px;
    }

    .itemHolder{
        top: 50px;
        left: 42px;
    }
    .contentsS2 h2{
        font-size: 8px;
    }

    .contentsS2{
        flex: 0 0 43.122233%;
    }

    
}

@media only screen and ( max-width : 321px){

    .section2Container{
        min-height: 80vh;
    }

    .headings2{
        top: 100px;
    }

    .itemHolder{
        top: 50px;
        left: 42px;
    }
    .contentsS2 h2{
        font-size: 8px;
    }

    .contentsS2{
        flex: 0 0 43.122233%;
    }
}
