.section2Container{
    width: 100%;
    min-height: 110vh;
    max-height: max-content;
    overflow-x: hidden;
}

.headings2{
   position: relative;
   top: 100px;
    font-size: 40px;
    font-family: 'Gilroy-Heavy', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}


.smallHeading{
text-align: center;
font-family: 'Gilroy-Medium', sans-serif;
letter-spacing: 0px;
font-size: 11px;
font-weight: 200;
}

.section2Main{
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemHolder{
    display: flex;
    position: relative;
    left: 160px;
    flex-wrap: wrap;
    color: white;
}

.contentsS2{
    flex: 0 0 30.122233%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 10px;
}

.contentsS2 h2{
    font-family: 'Gilroy-Bold', sans-serif;
    width: 50%;
    font-size: 13px;
}

.contentsS2 img{
   min-width: 12%;
   max-width: 14%;
}

@media only screen and (max-width : 769px ){
    .section2Main{
        margin-left: 35%;
        gap: 50px;
        font-size: 12px;
    }
    .contentsS2{
        width: 25%;
        margin-top: 15%;
        font-size: 8px;
    }

    .contentsS2 img{
        min-width: 40%;
        max-width: 60%;
    }

}

@media only screen and ( max-width: 426px ){

    .section2Main{
        gap: 60px;
    }
    .contentsS2{
        font-size: 7px;
    }

   .headings2{
    font-size: 18px;
   }
    
}
@media only screen and (max-width : 361px) {

    .section2Main{
        margin-left: 30%;
        gap: 50px;
        font-size: 12px;
    }

    
}

@media only screen and ( max-width : 321px){

    .section2Main{
        gap: 70px;
        margin-left: 25%;
    }
    .contentsS2{
        font-size: 7px;
    }
}
