.section1{
    min-height: 80vh;
    max-height: max-content;
    overflow-x: hidden;
}

.mainContent{
    height: 620px;
    position: relative;
    background: transparent url('/public/img/Group\ 82.svg') 0% 0% no-repeat padding-box;
    background-size: 70% 90%;
    opacity: 1;
}
.heading h1{
    width: fit-content;
}
.heading{
    margin: 0px;
    font-family: 'Gilroy-Heavy', sans-serif;
    position: relative;
    top: 100px;
    /* left: 300px; */
    left: calc(61px + (300 - 16) * (100vw - 320px) / (1920 - 320) );
    font-size: calc(9px + (55 - 20) * (100vw - 320px) / (1920 - 320));
}
.subHeading{

    font-family: 'Gilroy-Bold', sans-serif;
    position: relative;
    top:100px;
    left: calc(61px + (300 - 16) * (100vw - 320px) / (1920 - 320) );
    font-size: calc(5px + (19 - 5) * (100vw - 320px) / (1920 - 320));
}

@media only screen and ( max-width : 1441px){
    .mainContent{
        height: 85vh;
    }
}

@media only screen and ( max-width : 1296px) {
    .mainContent{
        height: 80vh;
    }
    
}

@media only screen and (max-width : 1025px){

.mainContent{
    height: 390px;
}

}

@media only screen and (max-width : 769px) {

}

@media only screen and ( max-width : 427px ){

    .heading , .subHeading{
        /* top: 120px; */
        /* width: 60%; */
        /* left: 120px; */
    }

    .mainContent{
        margin-left: 5%;
        width: 400px;
    }
    
}

@media only screen and (max-width : 415px){
    .mainContent{
        height: 400px;
        top: 10px;
        left: 20px;
    }
    .heading{
        
    }
}

@media only screen and (max-width : 376px) {

    .section1{
        min-height: 10vh;
        max-height: 10vh;
        overflow-x: visible;
    }

    .heading , .subHeading {
        top:50px;
        /* left: 62px; */
        left: 30px;
    }

    .heading{
        font-size: 9px;
    }
   
    .mainContent{
        width: fit-content;
        height: 200px;
    }
        
}

@media only screen and ( max-width : 361px){
    .heading , .subHeading{
        /* top: 230px; */
        /* left: 70px; */
    }
}

@media only screen and (max-width : 357px){
    .mainContent{
        height: 40vh;
    }
}


@media only screen and ( max-width : 321px) {
    .heading{

        margin-left: 0%;
        margin-right: 0%;
        margin: 0%;
        padding: 0%;
        
    }
    .heading , .subHeading{
        width: 100%;
        top: 50px;
        left: 30px;
    }
    .heading{
        font-size: 10px;
    }

    .mainContent{
        max-width: max-content;
        height: 200px;
    }
    
}