.section1{
    min-height: 80vh;
    max-height: max-content;
    overflow-x: hidden;
}

.mainContent{
    height:90vh;
    position: relative;
    background: transparent url('/public/img/Group\ 82.svg') 0% 0% no-repeat padding-box;
    background-size: 70% 90%;
    opacity: 1;
}
.heading h1{
    width: fit-content;
}
.heading{

    margin: 0px;
    font-family: 'Gilroy-Heavy', sans-serif;
    position: relative;
    top: 100px;
    left: 300px;
    font-size: 36px;
}
.subHeading{

    font-family: 'Gilroy-Bold', sans-serif;
    position: relative;
    top:100px;
    left:300px;
    font-size: 18px;
}

@media only screen and (max-width : 1025px){
    .heading{
        font-size: 13px;
    }

.subHeading{
    font-size: 12px;
    width: 30%;
}

}

@media only screen and (max-width : 769px) {

    .heading{
        left: 200px;
    }
    .subHeading{
        left: 200px;
    }
}

@media only screen and ( max-width : 426px ){

    .heading , .subHeading{
        top: 120px;
        width: 60%;
        left: 120px;
        font-size: 10px;
    }
    
}

@media only screen and (max-width : 376px) {

    .section1{
        min-height: 10vh;
        max-height: 10vh;
        overflow-x: visible;
    }

    .heading , .subHeading {
        top:130px;
        width: 60%;
        left: 110px;
        font-size: 9px;
    }
        
}

@media only screen and ( max-width : 361px){
    .heading , .subHeading{
        top: 230px;
        left: 70px;
    }
}


@media only screen and ( max-width : 321px) {

    .heading , .subHeading{
        width: 80%;
        left: 61px;
        top: 100px;
    }
    .mainContent{
        height: 50vh;
        left: 20px;
    }
    
}