.landingPage{
  height: 105vh;
}


.landingPageDesign{
  height: 94vh;
  background-color: #00FF00;
  border-radius: 0px 0px 0px 450px;
}

@media only screen and ( max-width : 1441px){
  .landingPageDesign{
    height: 93vh;
  }
}

@media only screen and ( max-width : 1025px){
  .landingPage{
    height: 80vh;
  }
  .landingPageDesign{
    height: 69vh;
    border-radius: 0px 0px 0px 299px;
  }

}

@media only screen and ( max-width : 769px){
  .landingPage{
    height: 70vh;
  }
  .landingPageDesign{
    height: 63.7vh;
    border-radius: 0px 0px 0px 200px;
  }
}

@media only screen and ( max-width : 540px){
  .landingPage{
    height: 57vh;
  }
  .landingPageDesign{
    height: 54.2vh;
    border-radius: 0px 0px 0px 120px;
  }
}

@media only screen and ( max-width : 428px) {
  .landingPageDesign{
    height: 34.5vh;
    border-radius: 0px 0px 0px 103px;
  }
  .landingPage{
    height: 40vh;
  }
}


@media only screen and ( max-width : 376px ){
  .landingPageDesign{
    height: 28vh;
    border-radius: 0px 0px 0px 100px;
    
  }
  .landingPage{
    height: 35vh;
  }
}
@media only screen and ( max-width : 361px ){
  .landingPageDesign{
    height: 25.2vh;
  }
  .landingPage{
    height: 29vh;
  }
} 
@media only screen and (max-width : 357px){
  .landingPageDesign{
    height: 35.5vh;
    border-radius: 0px 0px 0px 100px;
    
  }
  .landingPage{
    height: 38vh;
  }
}

@media only screen and ( max-width : 321px ){
  .landingPageDesign{
    height: 24.3vh;
    border-radius: 0px 0px 0px 90px;
    
  }
  .landingPage{
    height: 30vh;
  }
}