.landingPage{
  height: 105vh;
}

.landingPageDesign{
  height: 94vh;
  background-color: #00FF00;
  border-radius: 0px 0px 0px 450px;
}


@media only screen and ( max-width : 1025px){
  .landingPage{
    height: 80vh;
  }
  .landingPageDesign{
    height: 72vh;
    border-radius: 0px 0px 0px 300px;
  }

}

@media only screen and ( max-width : 769px){
  .landingPage{
    height: 67vh;
  }
  .landingPageDesign{
    height: 64.6vh;
    border-radius: 0px 0px 0px 200px;
  }
}

@media only screen and ( max-width : 540px){
  .landingPage{
    height: 57vh;
  }
  .landingPageDesign{
    height: 54.2vh;
    border-radius: 0px 0px 0px 120px;
  }
}

@media only screen and ( max-width : 428px) {
  .landingPageDesign{
    height: 27vh;
    border-radius: 0px 0px 0px 100px;
  }
  .landingPage{
    height: 30vh;
  }
}


@media only screen and ( max-width : 376px ){
  .landingPageDesign{
    height: 37vh;
    border-radius: 0px 0px 0px 70px;
    
  }
  .landingPage{
    height: 39vh;
  }
}
@media only screen and (max-width : 357px){
  .landingPageDesign{
    height: 35.5vh;
    border-radius: 0px 0px 0px 100px;
    
  }
  .landingPage{
    height: 38vh;
  }
}

@media only screen and ( max-width : 321px ){
  .landingPageDesign{
    height: 33vh;
    border-radius: 0px 0px 0px 50px;
    
  }
  .landingPage{
    height: 34vh;
  }
}